.Instr {
  text-align: left;
}
#verify {
  display: none;
}
.Registration header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Registration-content {
  width: 70%;
  margin: 0;
  text-align: left;
  font-size: 16px;
}
.Auth-container {
  margin-top: 25px;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Phone-Num {
  width: 250px;
  height: 35px;
  margin: none;
  font-size: 15px;
}
#recaptcha-container {
  width: 257px;
  height: 40px;
  font-size: 15px;
  background-color: var(--cfa-blue);
  color: white;
  border: none;
}
#recaptcha-container:hover {
  background-color: var(--btn-hover);
  transition: 0.7s;
}

.VP-Filter-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
